@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    background-color: #efefef;
    width: 11px;
}

::-webkit-scrollbar-thumb {
    background-color: #20657d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4098b5;
}

*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    z-index: 10;
    position: fixed;
    top: 0;
    height: fit-content;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.5s ease;
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
}

label.logo a {
    color: #fff;
    font-size: 25px;
    line-height: 80px;
    margin-left: 50px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

label.logo {
    display: inline-flex;
    align-items: center;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    list-style-type: none;
    font-weight: bold;
}

nav ul li a {
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #20657d;
    transition: .5s;
}

label.logo a:hover {
    background-color: transparent;
    transition: 0s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#homePage {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

#homePage h1 {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    color: white;
    text-align: center;
    margin: 15px;
}

#homePage img {
    opacity: 0.6;
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
}

.title {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    padding-top: 115px;
}

#chisonoPage {
    height: fit-content;
    width: 100%;
}

.about {
    width: 100%;
    padding: 78px 0px;
}

.about img {
    height: 550px;
    width: 420px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.about-text h1 {
    color: black;
    font-size: 60px;
    margin-bottom: 20px;
}

.about-text h5 {
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p {
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 25px;
}

.about-text button {
    background: #20657d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    cursor: pointer;
}

.about-text button:hover {
    background: transparent;
    color: #000;
    border: 2px solid #20657d;
}

#prodottiPage {
    height: fit-content;
    width: 100%;
    padding-bottom: 60px;
}

#prodottiPage .title {
    padding-bottom: 30px;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.container-images {
    display: flex;
    padding: 35px;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: white;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #000;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #414141;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
  
.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child {
    margin-left: 0px;
}

.sdpSection {
    height: fit-content;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sdpSection button {
    background: #20657d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    cursor: pointer;
}

.sdpSection button:hover {
    background: transparent;
    border: 2px solid #20657d;
    color: #000;
}

#manutenzionePage {
    height: fit-content;
    width: 100%;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

#manutenzionePage .title {
    padding-bottom: 60px;
}

.manutenzioneSection {
    height: 100%;
    width: 100%;
}

.servicesContent {
    padding-bottom: 100px;
}

.container {
    width: 100%;
    height: fit-content;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
}

.service {
    text-align: center;
    padding: 35px 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #efefef;
    transition: transform 0.5s, background 0.5s;
    height: fit-content;
}

.service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #4098b5;
}

.service h2 {
    font-weight: 600;
    margin-bottom: 8px;
    color: #000;
}

.service p {
    color: #000;
    margin-bottom: 20px;
}

#contattiPage {
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}

#contattiPage .title {
    padding-top: 50px;
    color: #fff;
}

.contattiDescrizione {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.contatti {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contatti img {
    opacity: 0.6;
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.contatti a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
    color: black;
    background-color: white;
    border: 2px solid transparent;
    font-size: 25px;
}

.contatti a:hover {
    color: white;
    background-color: #20657d;
}

.footerWDM {
    height: fit-content;
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footerWDM img {
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 1100px) {
    .main {
        flex-direction: column;
        text-align: center;
    }
    .about-text h1 {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1055px) {
    label.logo a {
        font-size: 20px;
    }
    nav ul li a {
        font-size: 12px;
        font-weight: bold;
    }
}

@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(20px);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: white;
    }
    #check:checked ~ ul {
        left: 0%;
    }
}

@media screen and (max-width: 600px) {
    .about-text p {
        font-size: 15px;
    }
    .about-text h5 {
        font-size: 20px;
    }
    .about-text h1 {
        font-size: 50px;
    }
    .about-text {
        width: fit-content;
        height: fit-content;
    }
    .main img {
        width: 100%;
        padding: 0px;
    }
}

@media screen and (max-width: 556px) {
    #manutenzionePage {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}

@media screen and (max-width: 415px) {
    label.logo a {
        font-size: 17px;
    }
}

@media screen and (max-width: 390px) {
    .row {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media screen and  (max-width: 386px) {
    label.logo a {
        font-size: 15px;
    }
}

@media screen and (max-width: 370px) {
    label.logo a {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    label.logo a {
        font-size: 13px;
    }
}



